<!DOCTYPE html>
<html lang="es">

<head>
    <title>CUBATREK</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   {% block stylesheets %}
    <!-- Añadiendo Bootstrap -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}">

    <!-- Añadiendo normalize.css -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/normalize.css')) }}">

    <!-- Añadiendo fontawesome -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/all.min.css')) }}">

    <!-- Añadiendo mis setilos css -->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/style.css')) }}">

    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/responsive.css')) }}">
    {% endblock %}

</head>

<body>
{% block body %}


    <!-- *********************************************************************************************************
                                                Header de la pagina de inicio
    **************************************************************************************************************-->
    <header id="main-header" class="hero-image">
        <h1 class="main-header-title">Cubatek Travel Agency</h1>
    </header>


    

    <!-- *********************************************************************************************************
                                                SECCIÓN DE HOTELES RECOMENDADOS (PRIMERA SECCIÓN)
    **************************************************************************************************************-->
    <section id="hoteles-recomendados">
        <h2 class="title">Esta es la confirmacion de que hemos recivido su reserva</h2>
        <div class="container">
            <h3>Usted : {{reserva.getNombre}} {{reserva.getApellido}}</h3><p>
                a realizado una reservacion 
                
            </p>
                
            <div class="container my-4">
               
            </div>
        </div>
    </section>

   
    <!-- *********************************************************************************************************
                                                SECCIÓN DE AUTOS RECOMENDADOS
    **************************************************************************************************************-->
   

  

    <!-- *********************************************************************************************************
                                            SECCIÓN DEL FOOTER
    **************************************************************************************************************-->
    <footer id="footer" class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md mb-4 border-right px-5">
                &copy; 2020 CUBATREK TRAVEL AGENCY
                <img class="img-fluid" src="assets/img/logo/logo_navbar350x90.jpg" alt="Logo de CUBATREK">
            </div>
            <div id="navegacion-rapida" class="col-sm-6 col-md border-right px-5">
                <h5>Navegaci&oacute;n r&aacute;pida</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{{path('hoteles')}}" class="text-muted">Hoteles</a></li>
                    <li><a href="#" class="text-muted">Casas de renta</a></li>
                    <li><a href="#" class="text-muted">Autos para rentar</a></li>
                    <li><a href="#" class="text-muted">Circuitos</a></li>
                </ul>
            </div>

            <div id="sobre-nosotros" class="col-sm-6 col-md border-right px-5">
                <h5>Sobre nosotros</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="#" class="text-muted">Pol&iacute;tica de privacidad</a></li>
                    <li><a href="#" class="text-muted">T&eacute;rminos y condiciones</a></li>
                    <li><a href="#" class="text-muted">Sobre nosotros</a></li>
                    <li><a href="#" class="text-muted">&Uacute;ltimas noticias</a></li>
                </ul>
            </div>

            <div id="redes-sociales" class="col-sm-6 col-md px-5">
                <h5>S&iacute;ganos en las redes</h5>
                <ul class="row row-cols-sm-1 row-cols-md-3 list-unstyled text-small">
                    <li><a href="#" class="text-muted"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="text-muted"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="text-muted"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <a id="boton-subir" href="#nav" class="btn"><i class="fas fa-arrow-circle-up"></i></a>
   {% endblock %}
   {% block javascripts %}
    <!-- Añadiendo scrpts js -->
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/all.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
    {% endblock %}



</body>

</html>