{% extends "autos/index.html.twig" %}
{% block body %}


    <!-- *********************************************************************************************************
                                                Barra de navegación
    **************************************************************************************************************-->
    {%block navegacion%}

{{ parent()}}
     
     
 {%endblock%} 


    <!-- *********************************************************************************************************
                                                INFORMACION DE RESERVA DEL AUTO DE RENTA
    **************************************************************************************************************-->
    <div class="container my-5">
        <p class="text-right">Paso 3: Confirmar datos de reserva</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
    
    <div id="aviso-reserva" class="container alert alert-warning alert-dismissible fade show shadow mx-auto" role="alert">
        <h4 class="alert-heading">Importante!</h4>
        <p>
            Al confirmar su reserva recibir&aacute; en su correo electr&oacute;nico los
            detalles de la reserva y el estado de la misma. En un per&iacute;odo m&aacute;ximo de 48 horas le
            responderemos su solicitud.
        </p>
        <hr>
        <p class="h5">Muchas gracias por elegirnos!!! <span class="float-right">WayTravelTrek</span></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="container">
        <div class="row row-cols-sm-1 row-col-md-3">
            <!-- INFORMACION DEL CLIENTE -->
            <div id="" class="col-sm-12 col-md-4">
                <div class="container bg-light py-4 my-5 shadow">
                    <h2 class="h4 mb-4">Informaci&oacute;n del cliente</h2>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-2">
                            <h6 class="text-muted">Nombre</h6>
                            <h6 class="text-muted">Apellido</h6>

                            <span class="small" id="nombre-cliente">{{reserva.getNombre}}</span>
                            <span class="small" id="apellido-cliente">{{reserva.getApellido}}</span>
                        </div>
                    </div>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-1">
                            <h6 class="text-muted">Email</h6>
                            <span id="email-cliente" class="small">{{reserva.getEmail}}</span>
                        </div>
                    </div>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-3">
                            <h6 class="text-muted">Aerolinea</h6>
                            <h6 class="text-muted">NIC / Pasaporte</h6>
                            <h6 class="text-muted">Vuelo</h6>

                            <span id="licencia-cliente" class="small">{{reserva.getAerolinea}}</span>
                            <span id="id-cliente" class="small">{{reserva.getIdentidad}}</span>
                            <span id="telefono-cliente" class="small">{{reserva.getVuelo}}3</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INFORMACION DE LA RESERVA DEL AUTO -->
            <div id="" class="col-sm-12 col-md-4">
                <div class="container bg-light py-4 my-5 shadow">
                    <h2 class="h4 mb-4">Informaci&oacute;n de la reserva</h2>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-2 mb-3 border-bottom">
                            <h6 class="text-muted">Fecha recogida</h6>
                            <h6 class="text-muted">Hora recogida</h6>

                            <span class="small" id="fecha-recogida">{{reserva.getFechaRecogida|date('d-m-yy')}}</span>
                            <span class="small" id="hora-recogida">09:00 am</span>
                        </div>
                        <div class="row row-cols-2">
                            <h6 class="text-muted">Fecha entrega</h6>
                            <h6 class="text-muted">Hora entrega</h6>

                            <span class="small" id="fecha-entrega">{{reserva.getFechaEntrega|date('d-m-yy')}}</span>
                            <span class="small" id="hora-entrega">09:00 am</span>
                        </div>
                    </div>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-2">
                            <h6 class="text-muted">Per&iacute;odo de la renta</h6>
                            <h6 class="text-muted">Categor&iacute;a</h6>
                            {% set diferencia = reserva.getFechaEntrega.diff(reserva.getFechaRecogida)%}
                            {% set dias = diferencia.days %}
                            <span id="periodo-renta" class="small">{{dias}} d&iacute;as</span>
                            <span id="categoria-auto" class="small">{{auto.getCategoria}}</span>
                        </div>
                    </div>
                    <div class="container-fluid border-bottom mb-3">
                        <div class="row row-cols-1">
                            <h6 class="text-muted">Tipo de auto</h6>
                            <span id="car-name" class="small">{{auto.getMarca}} <p class="text-muted small">o similar</p>  </span>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-cols-1">
                            <img src="{{ asset(auto.getFotos[1].getUrl) }}" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>

            <!-- INFORMACION DE PAGO -->
            <div id="" class="col-sm-12 col-md-4">
                <div class="container bg-light py-4 my-5 shadow">
                    <h2 class="h4 mb-4">Informaci&oacute;n de pago</h2>
                    <div class="container-fluid mb-3">
                        <div class="row row-cols-1">
                            <table class="table table-striped table-light table-hover shadow-sm">
                                <thead>
                                    <tr>
                                        <th>Descripci&oacute;n</th>
                                        <th>Debes pagar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% set precio = auto.getPrecio + (20*auto.getPrecio/100)%}
                                        <td>Auto</td>
                                        <td>{{precio}} / d&iacute;a</td>
                                    </tr>
                                    <tr>
                                        <td>Dep&oacute;sito</td>
                                        <td>{{auto.getDeposito}} USD</td>
                                    </tr>
                                    <tr>
                                        <td>Cantidad de d&iacute;as</td>
                                        <td>{{dias}} </td>
                                    </tr>
                                    <tr>
                                        
                                        <th>Subtotal:</th>
                                        <td> {{subtotal}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>{{total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <small class="text-muted small">
                                El valor total es el valor subtotal por la cantidad de d&iacute;as de renta
                            </small>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{form_widget(form.save,{attr:{'class':'btn btn-block my-2' } })}}
                            {{ form_row(form._token) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *********************************************************************************************************
                                            SECCIÓN DEL FOOTER
    **************************************************************************************************************-->
    {%block pie%}

        {{ parent()}}
         
    {%endblock%} 

{%endblock%}