{% extends 'index.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
{%endblock%}

{% block body %}

    <!-- *********************************************************************************************************
                                                Barra de navegación
    **************************************************************************************************************-->

  {%block navegacion%}

     {{ parent()}}
     
        {%endblock%} 

    <div class="text-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent w-100 mt-3">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{path('homepage')}}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{path('hoteles')}}">Hoteles</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{path('hotel-region',{'region':hotel.getRegion} )}}">{{hotel.getRegion}}</a></li>
                <li id="hotel-name" class="breadcrumb-item active" aria-current="page">{{hotel.getNombre}}</li>
            </ol>
        </nav>
    </div>

     <div class="container-fluid my-5">
        <p class="text-center">Paso 2: Informaci&oacute;n de reserva</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
            </div>
        </div>
    </div>

    <section id="hotel" class="container-fluid">
        <h1 id="hotel-name">{{hotel.getNombre}}</h1>
        <div class="row row-cols-sm-1 row-cols-md-2">
            <!-- *********************************************************************************************************
                                                IMAGENES DEL HOTEL
    **************************************************************************************************************-->
           <div id="imagenes-hotel" class="col-sm-12 col-md-6">
                <div id="carouselHotel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">      
                        {% set url = " " %}
                        {% for foto in hotel.getFotos %}        
                            {% if  loop.index == 3  %}
                             {% set url = foto.getUrl%}
                            <div class="carousel-item active">
                            <img src="{{asset(url)}}" class="d-block w-100" alt="...">
                            </div>
                            {%elseif  loop.index > 3%}
                            {% set url = foto.getUrl%}
                            <div class="carousel-item ">
                            <img src="{{asset(url)}}" class="d-block w-100" alt="...">
                            </div>
                            {% endif %}
                          {%endfor%}
                        
                    </div>
                  <a class="carousel-control-prev" href="#carouselHotel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHotel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- *********************************************************************************************************
                                                INFORMACION DEL HOTEL
    **************************************************************************************************************-->
                <section id="info-hotel" class="col-sm-12 mb-5 mt-1">
                    <nav>
                        <div class="nav nav-pills" role="tablist">
                            <a class="nav-item nav-link active" id="nav-servicios-tab" data-toggle="tab"
                                href="#nav-servicios" role="tab" aria-controls="nav-servicios" aria-selected="true"><i
                                    class="fas fa-hotel"></i> <i class="fas fa-info-circle"></i></a>

                            <a class="nav-item nav-link" id="nav-accommodation-tab" data-toggle="tab"
                                href="#nav-accommodation" role="tab" aria-controls="nav-accommodation"
                                aria-selected="false"><i class="fas fa-bed"></i> <span id="num-habitaciones"
                                    class="badge badge-pill badge-light">247</span></a>

                            <a class="nav-item nav-link" id="nav-barDrinks-tab" data-toggle="tab" href="#nav-barDrinks"
                                role="tab" aria-controls="nav-barDrinks" aria-selected="false"><i
                                    class="fas fa-glass-martini-alt"></i> <span class="badge badge-pill badge-light"
                                    id="num-bares">4</span></a>

                            <a class="nav-item nav-link" id="nav-restaurant-tab" data-toggle="tab"
                                href="#nav-restaurant" role="tab" aria-controls="nav-restaurant"
                                aria-selected="false"><i class="fas fa-concierge-bell"></i> <span
                                    class="badge badge-pill badge-light" id="num-restaurantes">3</span></a>

                            <a class="nav-item nav-link" id="nav-ubication-tab" data-toggle="tab" href="#nav-ubication"
                                role="tab" aria-controls="nav-ubication" aria-selected="false"><i
                                    class="fas fa-map-marker-alt"></i></a>
                        </div>
                    </nav>
                    <div class="tab-content" id="info-hotelContent">
                        <div class="tab-pane fade show active pt-2" id="nav-servicios" role="tabpanel"
                            aria-labelledby="nav-servicios-tab">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos ad cum, laboriosam odit fuga
                            a
                            corporis accusamus autem obcaecati nihil nisi ipsa aperiam eveniet, earum modi repellendus
                            facere quae adipisci!
                            Molestiae animi molestias sunt tempore quos assumenda doloremque saepe tempora, voluptates
                            ratione, temporibus rem odit alias cum consequuntur facere? Aliquid, ducimus? Aut atque
                            dolorem
                            sint tempore nesciunt, iste ullam blanditiis!
                            Reiciendis, pariatur odio? At est officia labore inventore molestias, ducimus a debitis
                            dolore
                            aliquam! Facilis voluptatem numquam aliquam? Id perferendis exercitationem consectetur aut
                            illum
                            numquam accusamus, natus quos in ex.
                            Distinctio ad veniam incidunt corrupti earum accusantium quam illum, doloremque recusandae
                            reiciendis ipsa nulla sapiente numquam, consequatur eligendi explicabo expedita id ducimus,
                            vitae non. Laboriosam soluta odio vel debitis odit.
                        </div>

                        <div class="tab-pane fade" id="nav-accommodation" role="tabpanel"
                            aria-labelledby="nav-accommodation-tab">

                        </div>

                        <div class="tab-pane fade" id="nav-barDrinks" role="tabpanel"
                            aria-labelledby="nav-barDrinks-tab">

                        </div>

                        <div class="tab-pane fade" id="nav-restaurant" role="tabpanel"
                            aria-labelledby="nav-restaurant-tab">

                        </div>

                        <div class="tab-pane fade" id="nav-ubication" role="tabpanel"
                            aria-labelledby="nav-ubication-tab">
                            <div id="ubicacion-hotel" class="shadow">

                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <!-- *********************************************************************************************************
                                                CALENDARIO DE RESERVAS
    **************************************************************************************************************-->
            <div id="calendario" class="col-sm-12 col-md-6">
                <h2>Check-in & check-out </h2>
                <div class="validated bg-light p-3 shadow-sm border rounded float-md-right"
                    id="calendario-reservas-hoteles" novalidate>
                    
                    <h3 class="text-muted text-center">Datos de la reserva</h3>
                    
                    <small class="form-text text-danger">
                        * Son los datos que necesitamos para poder procesar la reserva
                    </small>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    
                    <div class="form-row mt-2">
                        <div class="form-group col-sm-12 col-md-6">
                            {{ form_label(form.fechaEntrada) }}<span class="text-danger"> *</span></label>
                            {{ form_errors(form.fechaEntrada) }}
                            {{ form_widget(form.fechaEntrada,{attr:{'class':'form-control mb-2','id':'check-in' } }) }}
                            <small class="form-text text-muted">Check-in</small>
                            <div class="valid-feedback">
                                Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Ingrese una fecha v&aacute;lida
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            {{ form_label(form.fechaSalida) }}<span class="text-danger"> *</span></label>
                            {{ form_errors(form.fechaSalida) }}
                            {{ form_widget(form.fechaSalida,{attr:{'class':'form-control mb-2','id':'check-out' } }) }}
                            <small class="form-text text-muted">Check-out</small>
                            <div class="valid-feedback">
                                Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Ingrese una fecha v&aacute;lida
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row rows-cols-sm-1 row-cols-md-3 row-cols-lg-4 p-2">  
                                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                                    {{ form_label(form.adultos) }} <span class="text-danger"> *</span></label>
                                    {{ form_errors(form.adultos) }}
                                    {{ form_widget(form.adultos,{attr:{'class':'form-control','id':'habitaciones' } }) }}
                                    <div class="valid-feedback">
                                        Correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        Debe indicar cu&aacute;ntos adultos son
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                                    {{ form_label(form.ninos) }} <span class="text-danger"> *</span></label>
                                    {{ form_errors(form.ninos) }}
                                    {{ form_widget(form.ninos,{attr:{'class':'form-control','id':'habitaciones' } }) }}
                                    <small class="form-text text-muted">2-12 años</small>
                                    <div class="valid-feedback">
                                        Correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        Debe indicar cu&aacute;ntos niños son
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                                    {{ form_label(form.infantes) }} <span class="text-danger"> *</span></label>
                                    {{ form_errors(form.infantes) }}
                                    {{ form_widget(form.infantes,{attr:{'class':'form-control','id':'habitaciones' } }) }}
                                    <small class="form-text text-muted">0 - 1.99 años</small>
                                    <div class="valid-feedback">
                                        Correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        Debe indicar cu&aacute;ntos infantes son
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <h3 class="text-muted text-center">Datos del cliente</h3>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            {{ form_label(form.nombre) }} <span class="text-danger"> *</span></label>
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre,{attr:{'class':'form-control mb-2','id':'nombre-cliente' } }) }}
                            <div class="valid-feedback">
                                Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, ingrese un nombre v&aacute;lido
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            {{ form_label(form.apellido) }} <span class="text-danger"> *</span></label>
                            {{ form_errors(form.apellido) }}
                            {{ form_widget(form.apellido,{attr:{'class':'form-control mb-2','id':'apellido-cliente' } }) }}
                            <div class="valid-feedback">
                                Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, ingrese un apellido v&aacute;lido
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            {{ form_label(form.correo) }} <span class="text-danger"> *</span></label>
                            {{ form_errors(form.correo) }}
                            {{ form_widget(form.correo,{attr:{'class':'form-control mb-2','id':'apellido-cliente' } }) }}
                                <small class="form-text text-muted">Donde recibir&aacute; el estado de su reserva</small>
                            <div class="valid-feedback">
                                Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, ingrese un email v&aacute;lido
                            </div>
                        </div>
                        <div class="form-group mb-2 col-sm-12">
                            {{ form_label(form.mensaje) }}
                            {{ form_errors(form.mensaje) }}
                            {{ form_widget(form.mensaje,{attr:{'class':'form-control mb-2','id':'mensaje','rows':'3' } }) }}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="apruebo" required>
                                <label class="custom-control-label" for="apruebo">Confirmo que he le&iacute;do y estoy
                                    de acuerdo con la <a href="#">Pol&iacute;tica de Privacidad</a> y los <a
                                        href="#">T&eacute;rminos y condiciones</a> de OurWay Travel</label>
                                <div class="valid-feedback">
                                    Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Debe estar de acuerdo para poder continuar
                                </div>
                            </div>
                            <div class="g-recaptcha mt-2" data-sitekey="6LdupOIZAAAAAC3Uew6gwXrq1YfRXO82XC1zpGG7"></div>
                        </div>
                        <div class="container">
                            <button class="btn text-center mb-2" type="button" data-toggle="collapse"
                                data-target="#precio-habitaciones-hotel" aria-expanded="false"
                                aria-controls="precio-habitaciones-hotel">
                                Ver disponibilidad <i class="fas fa-check-circle"></i>
                            </button>
                            <div class="collapse container" id="precio-habitaciones-hotel">
                                
                                <ul class="list-group">
                                   
                                     {%if isTriple %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%} 
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                            {{ form_label(form.Triple,'Triple') }}
                                            {{ form_errors(form.Triple) }}
                                            {{ form_widget(form.Triple,{attr:{'class':'form-control','id':'habitacion-triple'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-triple" id="habitacion-triple">desde ${{triple}}
                                            USD</button>
                                    </li>    
                                    {%if isDoble %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%}    
  
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                           
                                            {{ form_label(form.Doble,'Doble') }}
                                            {{ form_errors(form.Doble) }}
                                            {{ form_widget(form.Doble,{attr:{'class':'form-control','id':'habitacion-doble'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-doble" id="habitacion-doble">desde ${{doble}}
                                            USD</button>
                                    </li>
                                    {%if isSencilla%}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %}   
                                     {%endif%}    
  
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                           
                                            {{ form_label(form.Sencilla,'Sencila') }}
                                            {{ form_errors(form.Sencilla) }}
                                            {{ form_widget(form.Sencilla,{attr:{'class':'form-control','id':'habitacion-sencilla'} }) }}
                                        </div>
                                      
                                        <button class="btn" type="button" value="habitacion-sencilla" id="habitacion-sencilla">desde ${{sencilla}}
                                            USD</button>
                                    </li> 
                                    {%if isVista %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %}
                                     {%endif%}                                            
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                          
                                            {{ form_label(form.Vista_al_mar,'Vista al mar') }}
                                            {{ form_errors(form.Vista_al_mar) }}
                                            {{ form_widget(form.Vista_al_mar,{attr:{'class':'form-control','id':'habitacion-vista-mar'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-vista-mar" id="habitacion-vista-mar">desde ${{vista}}
                                            USD</button>
                                    </li>
                                     {%if isJunior %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%}
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                            
                                            {{ form_label(form.JuniorSuite,'Junior Suite') }}
                                            {{ form_errors(form.JuniorSuite) }}
                                            {{ form_widget(form.JuniorSuite,{attr:{'class':'form-control','id':'habitacion-junior-suite'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-junior-suite"
                                            id="habitacion-junior-suite">desde ${{junior}} USD</button>
                                    </li>
                                     {%if isSuite%}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%}   
                                        
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                            {{ form_label(form.Suite,'Suite') }}
                                            {{ form_errors(form.Suite) }}
                                            {{ form_widget(form.Suite,{attr:{'class':'form-control','id':'habitacion-suite'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-suite" id="habitacion-suite">desde ${{suite}}
                                            USD</button>
                                    </li>
                                    {%if isDeluxe %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%}    
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                            {{ form_label(form.Deluxe,'Deluxe') }}
                                            {{ form_errors(form.Deluxe) }}
                                            {{ form_widget(form.Deluxe,{attr:{'class':'form-control','id':'habitacion-deluxe'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-deluxe" id="habitacion-deluxe">desde ${{deluxe}}
                                            USD</button>
                                    </li>
                                    {%if isGrandDeluxe %}
                                        {% set hidden = '' %}       
                                     {%else%}
                                         {%  set hidden = "display:none !important;" %} 
                                     {%endif%}
                                    <li style="{{hidden|raw}}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-group col-4">
                                            {{ form_label(form.GrandDeluxe,'Grand Deuxe') }}
                                            {{ form_errors(form.GrandDeluxe) }}
                                            {{ form_widget(form.GrandDeluxe,{attr:{'class':'form-control','id':'habitacion-grand-deluxe'} }) }}
                                        </div>
                                        <button class="btn" type="button" value="habitacion-grand-deluxe"
                                            id="habitacion-grand-deluxe">desde ${{grandDeluxe}} USD</button>
                                    </li>
                                    
                                    <li class="list-group-item d-flex-justify-content-center align-items-center">
                                        <div class="form-grouo col"> 
                                            {{ form_label(form.Cupon,'Cupon de descuento') }}
                                            {{ form_errors(form.Cupon) }}
                                            {{ form_widget(form.Cupon,{attr:{'class':'form-control','id':'cupon-descuento','placeholder':'Entre su cupon...'} }) }}
                                                <small class="form-text">
                                                    Descubre c&oacute;mo obtener cupones de descuento <a href="../index.html#subscribirse" target="_blank">aqu&iacute;</a>
                                                </small>
                                        </div>
                                    </li>
                                    
                                </ul>
                             {{ form_widget(form.save,{attr:{'class':'btn mt-3 d-flex justify-content-center align-items-center','id':'tipo-habitacion'} }) }} 
                            </div>
                        </div>
                    </div>
               {{form_end(form)}}
                </div>
            </div>
        </div>
    </section>


    <!-- *********************************************************************************************************
                                                SECCIÓN DE AUTOS RECOMENDADOS
    **************************************************************************************************************-->
      <section id="autos-recomendados">
      <h2 class="title animate__animated animate__backInDown">Autos para rentar</h2>
        <div class="container">
            <div class="row row-cols-sm-1 row-cols-lg-3 container-fluid">
                <div id="auto-economico" class="mb-2">
                    <h2 class="h4">Econ&oacute;mico</h2>
                    <ul class="list-unstyled">
                        {% for auto in economicos %}
                            {%if loop.index <=3%}
                       <a href="{{path('auto-reserva',{'id':auto.getId})}}" class="text-decoration-none text-reset">
                        <li class="media mr-md-2 shadow-sm">
                            {% set url = " " %}
                        {% for foto in auto.getFotos %}
                            {% if  loop.index == 1 %}
                            {% set url = foto.getUrl%}
                            {% endif %}
                         {%endfor%}
                            <img src="{{asset(url)}}" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{auto.getMarca}}</h5>
                                <span class="badge badge-light">{{auto.getCategoria}}</span>
                                <span class="badge badge-light">{{auto.getTransmision}}</span>
                                <span id="precio" class="badge badge-success">desde {{auto.getPrecio+(20*auto.getPrecio/100)}} USD</span>
                            </div>
                        </li>
                        </a>
                            {%endif%}
                        {% endfor %}
                    </ul>
                </div>
                <div id="auto-medio-alto" class="mb-2">
                    <h2 class="h4">Medio - Alto</h2>
                    <ul class="list-unstyled">
                        {% for auto in medios %} 
                            {%if loop.index <=3%}
                        <a href="{{path('auto-reserva',{'id':auto.getId})}}" class="text-decoration-none text-reset">
                        <li class="media mr-md-2 shadow-sm">
                            {% set url = " " %}
                            {% for foto in auto.getFotos %}
                            {% if  loop.index ==1 %}
                            {% set url = foto.getUrl%}
                            {% endif %}
                         {%endfor%}
                            <img src="{{asset(url)}}" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{auto.getMarca}}</h5>
                                <span class="badge badge-light">{{auto.getCategoria}}</span>
                                <span class="badge badge-light">{{auto.getTransmision}}</span>
                                <span id="precio" class="badge badge-success">desde {{auto.getPrecio+(20*auto.getPrecio/100)}} USD</span>
                            </div>                           
                        </li>
                         </a>
                            {%endif%} 
                        {% endfor %}
                    </ul>
                </div>

                <div id="auto-lujo" class="mb-2">
                    <h2 class="h4">SUV</h2>
                    <ul class="list-unstyled">
                        {% for auto in lujos %}    
                            {%if loop.index <=3%}
                       <a href="{{path('auto-reserva',{'id':auto.getId})}}" class="text-decoration-none text-reset">
                        <li class="media mr-md-2 shadow-sm">
                            {% set url = " " %}
                            {% for foto in auto.getFotos %}
                            {% if  loop.index ==1 %}
                            {% set url = foto.getUrl%}
                            {% endif %}
                         {%endfor%}
                            <img src="{{asset(url)}}" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{auto.getMarca}}</h5>
                                <span class="badge badge-light">{{auto.getCategoria}}</span>
                                <span class="badge badge-light">{{auto.getTransmision}}</span>
                                <span id="precio" class="badge badge-success">desde {{auto.getPrecio+(20*auto.getPrecio/100)}} USD</span>
                            </div>
                        </li>
                        </a>
                            {%endif%}
                        {% endfor %}
                    </ul>
                </div>
            </div>
                    <a role="button" href="{{path('auto-lista')}}" class="btn btn-block">Ver autos</a>
        </div>
    </section>


    <!-- *********************************************************************************************************
                                            SECCIÓN DEL FOOTER
    **************************************************************************************************************-->
    {%block pie%}

        {{ parent()}}
         
    {%endblock%} 


{% endblock %}
{% block javascripts %}
  {{ parent()}}
  <script src="{{asset('assets/js/validate-form.js')}}"></script>
{% endblock %}
   